.DS_Store

application/config/app.php
application/config/database.php
application/config/email.php

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html
!application/*/.htaccess

data/*
!data/index.html
!data/courses
data/courses/*
!data/courses/dummy
!data/lectures
data/lectures/*
!data/lectures/dummy
!data/homework
data/homework/*
!data/homework/dummy
!data/users
data/users/*
!data/users/dummy
!data/news
data/news/*
!data/news/dummy


# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
