.auth-box {padding: 25px 30px; width: 30%; height: auto; min-height: 450px;}
.alert {font-size: 13px;}
.btn-xxs {padding: 3px 5px; font-size: 14px;}
.btn-3xs {padding: .2em .6em .3em; font-size: 75%; line-height: 1;}

.nav-balance {font-size: 26px; display: inline-block; line-height: 32px; padding-left: 45px;}
.nav-balance .nav-balance-value {color: #00AAFF;}
.nav-balance > a {color: #676a6d; font-size: 20px; line-height: 22px; margin-left: 5px;}

.course-list {}
.course-list .course-list-item {}
.course-list .thumbnail img {width: 100%; height: 100px; background-color: #aaa;}
.course-list .item-title {font-size: 18px;}
.course-list .item-text {font-size: 14px;}
.course-list .type-title {font-size: 16px; display: block; line-height: 5px; padding-top: 20px;}
.course-list .type-info, .course-list .price-info {font-size: 12px;}
.course-list .price-value {font-size: 24px; color: #00AAFF;}
.course-list .fancy-radio input[type="radio"] + span i:after {background-color: #00AAFF;}


.lectures-block {}
.lectures-block tr {cursor: pointer;}
.lectures-block .lnr-eye {font-size: 36px;}
.lectures-block .lnr-sync {font-size: 20px; cursor: pointer;}
.table-courses {}
.table-courses .row-course {cursor: pointer;}
.table-courses .row-course.active {background-color: #dff0d8; cursor: auto;}

/*#########################################################################################*/

.panel.panel-headline.panel-color .panel-heading {padding-bottom: 10px;}
.panel.panel-headline.panel-color.blue .panel-heading {border-bottom: 3px solid #00AAFF;}

.table.table-no-bordered > tbody > tr > td {border: 0 none;}

.navbar-default .brand {padding: 0px 30px;}
#panel-date-time-msk {font-size: 20px; padding-top: 24px;}
#homework-time-left {display: inline-block; padding-left: 40px; padding-top: 16px;}
#homework-time-left .icon {font-size: 40px; padding-right: 10px; color: #f00;}
#homework-time-left .float-left {float: left;}
#homework-time-left .title {margin-top: 5px;}
#homework-time-left .title, #homework-time-left .value {display: block; font-size: 14px;}

.video-wrap {position: relative; padding-bottom: 56.25%; /* 16:9 */ padding-top: 25px; height: 0;}
.video-wrap iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.week-panel {display: flex; flex-wrap: wrap; justify-content: center;}
.week-panel .week-item {text-align: center; box-sizing: border-box; padding: 15px 20px 20px; text-decoration: none;}
.week-panel .week-item.active {cursor: pointer;}
.week-panel .week-item.active .number {background-color: #00AAFF; position:  relative;}
.week-panel .week-item.active.current .number:before {content: ""; display: block; position: absolute; top: -15%; left: -15%; width: 130%; height: 130%; border: 3px dotted #00AAFF; border-radius: 50%;}
.week-panel .week-item .number {display: inline-block; width: 40px ;height: 40px; border-radius: 50%; background-color: #ccc; text-align: center; line-height: 38px; color: #fff; font-size: 25px; margin-bottom: 10px;}
.week-panel .week-item .badge {position: absolute; top: -5px; right: -5px;}
.week-panel .week-item .name {display: block; font-size: 14px; color: #676a6d;}

.week-panel .owl-item .week-item {display: inline-block; width: 100%;}
.week-panel.owl-carousel.owl-loaded {padding: 0px 0px; position: relative;}
.week-panel.owl-dots {display: none;}
.week-panel .owl-stage-outer {z-index: 10;}
.week-panel .owl-nav {position: absolute; top: 0px; left: 0px; right: 0px; height: 100%;}
.week-panel .owl-nav button {position: absolute; top: 50%; margin-top: -45px; height: 70px; width: 40px; background: transparent url('../img/chevron.png') top left no-repeat !important; outline: none;}
.week-panel .owl-nav button.disabled {display: none;}
.week-panel .owl-nav button > span {display: none;}
.week-panel .owl-nav button.owl-prev {left: -40px;}
.week-panel .owl-nav button.owl-next {right: -40px; background-position: -40px 0px !important;}

#enroll-top-panel {}
#enroll-top-panel .balance-block-wrap {padding-top: 15px;}
#enroll-top-panel .balance-block-wrap .btn {margin-top: 0px;}
#enroll-top-panel .balance-block {font-size: 24px; display: inline-block; padding-left: 30px; vertical-align: top; margin-top: 0px; line-height: 30px;}
#enroll-top-panel .balance-block .balance-value {color: #00AAFF; font-size: 26px;}

.profile-header .profile-stat .stat-item  {color: #fff;}
.profile-header .profile-main {background: none; background-color: #676a6d;}
.profile-header .profile-main .img-circle {border: 2px solid #fff;}
.group-image-gallery {display: flex; flex-wrap: wrap;}
.group-reviews-list {display: flex; flex-wrap: wrap;}

.roadmap-component {width: 100%;}
.roadmap-component .roadmap-container {padding-left: 320px; overflow-x: auto;}
.roadmap-header {margin-bottom: 30px;}
.roadmap-roulete {display: flex; flex-wrap: nowrap;}
.roadmap-roulete .r-month {display: inline-block; height: 40px; flex-shrink: 0;}
.roadmap-roulete .r-month-title {text-align: center; font-weight: bold; height: 35px; text-transform: uppercase;}
.roadmap-roulete .r-week {display: inline-block; float: left; position: relative; height: 5px; width: 25px; box-sizing: border-box; border-right: 2px solid #676a6d;}
.roadmap-roulete .r-week.first {border-left: 2px solid #676a6d;}
.roadmap-roulete .r-week.last:after {content: ""; width: 2px; height: 20px; background-color: #676a6d; position: absolute; right: -2px; bottom: 0px;}
.roadmap-body {/*width: 3600px;*/ position: relative;}
.roadmap-item {position: relative; margin: 15px 0px; min-height: 80px; width: 100%;}
.roadmap-item .item-head {display: flex;  align-items: center; justify-content: center; height: 100%; width: 300px; color: #fff; position: absolute; left: -320px; top: 0px; bottom: 0px; padding: 20px; text-align: center; font-size: 18px; border-radius: 5px;}
.roadmap-item .item-head span {}

.roadmap-item .item-head .btn-group {position: absolute; top: 5px; right: 5px;}
.roadmap-item .item-head .btn-menu {cursor: pointer;}
.roadmap-item .item-head .btn-menu.btn-collapse {position: absolute; top: 5px; left: 5px;}
.roadmap-item .item-head .btn-menu.btn-collapse.collapsed i.fa-angle-up:before {content: "\f107";}

.roadmap-item .items-row-wrap.collapse.in + .item-row.row-collapse {display: none;}

.roadmap-item .item-row {min-height: 80px; position: relative;}
.roadmap-item .item-row:before {content: ""; position: absolute; left: 0px; right: 0px; height: 1px; background-color: #676a6d; top: 50%; margin-top: 0px;}
.roadmap-item .item-row .roadmap-mark {cursor: pointer; display: inline-block; position: absolute; height: 34px; top: 23px; border: 2px solid #fff; box-sizing: border-box; border-radius: 30px; min-width: 100px; text-align: center; color: #fff; font-size: 13px; font-weight: bold; line-height: 30px; padding: 0px 10px; padding-right: 30px; padding-left: 35px; box-sizing: border-box; transition: min-width 0.3s;}
.roadmap-item .item-row .roadmap-mark > span {display: block; overflow: hidden; white-space: pre;}
.roadmap-item .item-row .roadmap-mark:hover {/*min-width: 160px;*/ z-index: 10; transition: min-width 0.3s;}
.roadmap-item .item-row .roadmap-mark:hover > span {/*overflow: initial;*/}
.roadmap-item .roadmap-mark .btn-group {position: absolute; right: 10px; top: 0px;}
.roadmap-item .roadmap-mark .btn-group .btn-menu {display: inline-block; width: 20px; cursor: pointer;}
.roadmap-item .roadmap-mark .icon {position: absolute; top: 0px; left: 2px; border-radius: 50%; width: 30px; height: 30px; font-size: 20px;}

.roadmap-mark .info {position: absolute; visibility: hidden; opacity: 0; box-sizing: border-box; bottom: 34px; left: 0px; background-color: #fff; border: 1px solid #676a6d; width: 200px; color: #676a6d; text-align: left; padding: 10px 20px; border-radius: 5px; font-size: 12px; transition: opacity 0.3s, visibility 0.3s;}
.roadmap-mark .info ul {list-style: none; padding: 0; margin: 0; line-height: 16px; font-weight: normal;}
.roadmap-mark:hover .info {opacity: 1; visibility: visible; transition: opacity 0.3s, visibility 0.3s;}

.roadmap-body .current-week-mark {position: absolute; top: -50px; bottom: 0px; left: 300px; width: 25px; background-color: #3F92D2; opacity: 0.5; z-index: 0;}

.item-color1 .colored {background-color: #0B61A4;}
.item-color2 .colored {background-color: #7E07A9;}
.item-color3 .colored {background-color: #F30021;}
.item-color4 .colored {background-color: #008110;}
.item-color5 .colored {background-color: #3F92D2;}
.item-color6 .colored {background-color: #AC3BD4;}
.item-color7 .colored {background-color: #F93E58;}
.item-color8 .colored {background-color: #00C618;}

.roadmap-item.item-color-default .item-head {color: #676a6d; border: 1px solid #676a6d;}
.roadmap-item.item-color-default .item-head a {position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 10;}

.modal-header {border-bottom: 0 none;}